.announcement {
    background-color: $purple;
    color: $white;
    padding: 10px 0;

    .announcement__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .announcement__copy {
        flex: 1;
        font-weight: 700;
    }

    .announcement__link {
        margin-top: 20px;
    }
}

@include media-breakpoint-up(md) {
    .announcement {
        .announcement__inner {
            flex-direction: row;
            justify-content: space-between;
        }

        .announcement__link {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}