.announcement {
    background-color: $purple;
    color: $white;
    padding: 12px 0;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__copy {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.1875;
    }

    &__link {
        margin-top: 15px;

        a {
            border-bottom: 1px solid $white;
            color: inherit;
            display: inline-block;
            font-size: 1.125rem;
            line-height: 1.1111;
        }
    }
}

@include media-breakpoint-up(md) {
    .announcement {
        &__inner {
            align-items: center;
            flex-direction: row;
        }

        &__copy {
            flex: 1 0 58.3333%;
        }

        &__link {
            margin-top: 0;
            margin-left: 30px;
            text-align: right;
        }
    }
}