.breadcrumbs {
  color: $white;
  font-size: 1rem;
  line-height: 1.1875;
  margin-bottom: 20px;

  a {
    color: inherit;
    font-weight: 600;

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      outline: 1px solid $white;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &--single {
    margin-bottom: 0;
  }
}