.breadcrumbs {
  color: $white;
  font-size: 1rem;
  line-height: 1.1875;
  margin-bottom: 20px;

  a {
    color: inherit;
    font-weight: 600;
  }
}

@include media-breakpoint-up(md) {
  .breadcrumbs {
    margin-top: 25px;
  }
}