.card-post {
    background-color: $white;
    padding: 20px;

    &__title {
        color: $dark-purple-bg;
        font-size: 1.5rem;
        line-height: 1.1667;
        margin-bottom: 0;
    }

    &__preview {
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__meta {
        font-size: 0.875rem;
        line-height: 1.15;
        margin-top: 20px;
    }

    &__cats {
        display: inline;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        &:before {
            content: '/';
        }
    }

    &__cat {
        display: inline;

        &:after {
            content: ',';
        }

        &:last-child:after {
            content: '';
        }
    }

    &--lilac-bg {
        background-color: $lilac-bg;
    }
}