.cta {
  background-color: $lilac-bg;
  padding: 20px;

  &__heading {
    color: $dark-purple-bg;
    font-size: 1.5rem;
    line-height: 1.1667;
    margin-bottom: 0;
  }

  &__copy {
    margin-top: 10px;
  }

  &__link {
    margin-top: 15px;
  }
}