.cta-group-cta {
  background-color: $white;
  padding: 25px 28px;

  &__heading {
    color: $dark-purple-bg;
    margin-bottom: 0;
  }

  &__copy {
    margin-top: 10px;
  }

  &__link {
    line-height: 1.25;
    margin-top: 12px;
  }
}

@include media-breakpoint-up(md) {
  .cta-group-cta {
    padding: 25px 20px;

    &__link {
      margin-top: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .cta-group-cta {

    &__link {
      margin-top: 12px;
    }
  }
}