.member {
  .member__image {
    margin-bottom: 20px;
  }

  .member__name,
  .member__title {
    display: block;
    margin-bottom: 10px;
  }

  .member__title {
    font-style: italic;
  }

  .member__link {
    margin-top: 20px;
  }
}

@include media-breakpoint-up(md) {
  .member {
    .member__image {
      margin-bottom: 0;
    }
  }
}