.feed-post {
  position: relative;
  background-color: $lilac-bg-alt;
  padding: 30px 0;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../dist/img/accents/triangle_upperright.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 100%;
    width: 58.3333%;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__all {
    margin-top: 20px;
    text-align: right;
  }
}

@include media-breakpoint-up(md) {
  .feed-post {
    padding: 60px 0;

    &:after {
      width: 41.6667%;
    }

    &__heading {
      margin-bottom: 30px;
    }

    &__col {
      margin-bottom: 30px;
    }

    &__all {
      margin: 30px auto 0;
      width: 83.3333%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .feed-post {

    &:after {
      width: 25%;
    }

    &__heading {
      margin-bottom: 40px;
    }

    &__col {
      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }

    &__all {
      margin: 30px 0 0;
      width: 100%;
    }
  }
}