.cta-group {
  .cta-group__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .cta-group {
    .cta-group__col {
      margin-bottom: 30px;

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}