.anchor-links {
    padding: 20px 0 30px;

    &__list {
        font-size: 1rem;
        line-height: 1.3;
        list-style: none;
        margin-bottom: 30px;
        padding-left: 0;
    }

    &__list-item {
        border-bottom: 1px solid $gray-divider;
        margin-bottom: 15px;
        padding-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        border-bottom: 3px solid $gray-divider;
        margin-bottom: 30px;
        padding-bottom: 30px;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .anchor-links {
        padding: 40px 0 60px;

        &__list {
            font-size: 1.125rem;
            margin-bottom: 60px;
        }

        &__question {
            margin-bottom: 15px;
        }
    }
}