.feed-post {
  .feed-post__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .feed-post {
    .feed-post__col {
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}