.hero {
  padding: 0;

  &__image {
    background-color: $dark-purple-bg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0;
    padding-bottom: calc(237 / 320 * 100%);
  }

  &__content {
    padding: 20px 0 30px;
  }

  &__heading {
    color: $purple-medium;
    font-size: 1.6875rem;
    line-height: 1.15;
    margin-bottom: 0;
  }

  &__copy {
    margin-top: 10px;
  }

  &__links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__link {
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .hero {
    position: relative;
    background-color: $dark-purple-bg;
    overflow: hidden;

    &__image {
      position: absolute;
      top: 0;
      left: 50%;
      background-position: bottom left;
      background-size: contain;
      height: 100%;
      padding-bottom: 0;
      width: 50%;
    }

    &__content {
      margin: 50px 0 145px;
      padding: 0;
      width: 50%;
    }

    &__content-upper {
      position: relative;
      padding: 35px 45px 45px 0;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        content: '';
        display: block;
        height: 100%;
        margin-left: -100vw;
        transform: skew(-10deg);
        width: calc(100% + 100vw);
      }
    }

    &__heading,
    &__copy {
      position: relative;
      z-index: 1;
    }

    &__heading {
      font-size: 2.25rem;
      line-height: 1.11111111;
    }

    &__links {
      flex-direction: row;
      margin-top: -23px;
    }

    &__link {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    &__content {
      margin-bottom: 200px;
    }

    &__content-upper {
      padding: 30px 80px 45px 0;
    }

    &__heading {
      font-size: 2.875rem;
      line-height: 1.05;
    }

    &__copy {
      margin-top: 15px;
    }
  }
}