.cta-group {
  background-color: $dark-purple-bg-alt;
  background-image: url('../../dist/img/accents/dark_bkgrnd_cta.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125% 100%;
  padding: 40px 0 20px;

  &__heading {
    color: $white;
    margin-bottom: 20px;
  }

  &__col {
    margin-bottom: 20px;
  }
}

@include media-breakpoint-up(md) {
  .cta-group {
    background-position: top right;
    background-size: 83.3333% 100%;
    padding: 60px 0;

    &__heading {
      margin-bottom: 30px;
    }

    &__col {
      margin-bottom: 40px;

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .cta-group {
    padding-bottom: 50px;

    &__col {
      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }
    }
  }
}