.statistics {
  .statistics__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .statistics {
    .statistics__col {
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}