.form {
    padding: 20px 0 30px;

    input[type="submit"] {
        background-color: $purple;

        &:focus {
            outline: 0;
        }

        &:focus-visible,
        &:hover {
            background-color: $purple-medium;
        }
    }
}

@include media-breakpoint-up(md) {
    .form {
        padding: 50px 0 60px;

        &__heading {
            margin-bottom: 15px;
        }
    }
}