.link-list {
    .link-list__list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    .link-list__item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .link-list {
        .link-list__list {
            columns: 2;
        }

        .link-list__item {
            break-inside: avoid;
            margin-bottom: 30px;
        }
    }
}