.cta-pair {
  padding-bottom: 40px;

  &__heading {
    margin-bottom: 0;
  }

  &__heading+.cta-pair__description {
    margin-top: 10px;
  }

  &__ctas-row {
    margin-top: 20px;
  }

  &__cta-col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .cta-pair {
    padding-top: 50px;
    padding-bottom: 60px;

    &__heading+.cta-pair__description {
      margin-top: 15px;
    }

    &__ctas-row {
      margin-top: 30px;
    }

    &__cta-col {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .cta-pair {
    padding-top: 60px;

    &__ctas-row {
      margin-top: 0;
    }

    &__cta-col {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}