.video {
    background-color: $lilac-bg;
    padding: 30px 0;

    &__header {
        margin-bottom: 20px;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__description {
        margin-top: 10px;
    }
}

@include media-breakpoint-up(md) {
    .video {
        padding: 60px 0;

        &__header {
            margin-bottom: 30px;
        }

        &__description {
            margin-top: 15px;
        }
    }
}

@include media-breakpoint-up(md) {
    .video {
        &__header {
            margin-bottom: 40px;
        }

        &__description {
            margin-top: 0;
        }
    }
}