.feed-event {
  .feed-event__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .feed-event {
    .feed-event__description {
      max-width: 83.3333%;
    }

    .feed-event__col {
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}