.provider-row {
    background-color: $white;

    &__meta {
        columns: 2;
        margin-top: 20px;
        margin-bottom: 0;

        div {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }

        p {
            margin-bottom: 0;
        }
    }
}