.search-bar {
    &__form {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
    }

    &__field {
        background-color: $lilac-bg;
        border: 1px solid $purple !important;
        color: $dark-purple-bg;
        flex: 1;
        font-size: 0.875rem;
        line-height: 1.15;
        padding: 10px;

        &::placeholder {
            font-style: italic;
        }

        &:focus {
            position: relative;
            z-index: 1;
            outline: 2px solid $red;
        }
    }

    &__submit {
        // Remove default button styles
        border: 0;
        cursor: pointer;
        display: inline-block;
        margin: 0;

        background-color: $purple;
        color: $white;
        font-size: 1.375rem;
        line-height: 1;
        padding: 11px 8px;

        &:focus {
            outline: 2px solid $red;
        }

        &:hover {
            color: $gray-text;
        }
    }
}