.site-header {
  background-color: $white;
  overflow: hidden;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  }

  .site-header__row {
    align-items: center;
    padding-bottom: 15px;
  }

  .site-header__social-media {
    display: none;
  }

  .site-header__aidsline {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px 0;

    &:before,
    &:after {
      position: absolute;
      background-color: $lilac-bg-alt;
      content: '';
      display: block;
      height: 100%;
    }

    &:after {
      right: 50%;
      left: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 100vw;
      width: 100vw;
    }
  }

  .site-header__aidsline-label,
  .site-header__aidsline-link {
    position: relative;
    z-index: 1;
  }

  .site-header__aidsline-label {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.15;
    margin-right: 8px;
  }

  .site-header__aidsline-link {
    color: $purple-medium;
    font-size: 1.125rem;
    line-height: 1.1111;

    &:focus,
    &:hover {
      color: $purple;
      outline: 0;
    }
  }

  .site-header__logo-link {

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      img {
        outline: 2px solid $red;
      }
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }

  .site-header__hamburger-col {
    text-align: right;
  }

  #site-header__hamburger {
    background-color: $white;
    background-image: url('../../dist/img/menu_withbkgrnd.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100px;

    &:focus,
    &:hover {
      background-image: url('../../dist/img/menu_withbkgrnd_open.svg');
      outline: 0;
    }
  }

  .site-header__menu-mobile {
    display: none;
  }

  .site-header__desktop-menu {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .site-header {
    .site-header__row {
      padding: 20px 0;
    }

    .site-header__menus-col {
      margin-left: auto;
    }

    .site-header__aidsline {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 0;
      padding: 10px 25px;

      &:after {
        right: 0;
        left: 50%;
        margin-left: 0;
        margin-right: 0;
        max-width: 50%;
        width: 50%;
      }

      &:before {
        top: 0;
        left: 0;
        transform: skew(-20deg);
        width: 100%;
      }
    }

    .site-header__aidsline-label {
      margin-right: 0;
    }

    .site-header__aidsline-link {
      line-height: 1.1111;
    }

    #site-header__hamburger {
      background-color: $lilac-bg-alt;
    }
  }
}

@include media-breakpoint-up(lg) {
  .site-header {
    .site-header__row {
      padding-bottom: 0;
    }

    .site-header__logo-col {
      padding-right: 60px;
    }

    .site-header__menus-col {
      align-items: flex-end;
      display: flex; // separates menus vertically
      flex-direction: column;
      margin-left: 0;

      // both menus
      .menu {
        display: flex;

        .menu__link {
          color: $gray-text;
          font-weight: 600;

          &:focus {
            outline: 0;
          }

          &:not(.button):focus-visible {
            span {
              outline: 2px solid $red;
            }
          }

          &:hover {
            color: $purple;
          }

          &.current-menu-item,
          &.current-page-ancestor {
            color: $purple-medium;
          }
        }
      }
    }

    .site-header__menus-upper {
      align-items: center;
      display: flex; // separates social media and secondary menu horizontally
      justify-content: flex-end;
      margin-bottom: 15px;
      width: 100%;

      // just secondary menu
      .menu {
        align-items: center;

        .menu__item {
          &:after {
            color: $lilac-bg-alt;
            content: '/';
          }

          &:last-child {
            &:after {
              content: '';
            }
          }
        }

        .menu__link {
          font-size: 1rem;
          line-height: 1.25;
          padding: 8px 15px;

          &.button {
            margin-left: 15px;
          }
        }
      }
    }

    .site-header__social-media {
      display: block;
    }

    .site-header__menus-lower {
      background-color: $lilac-bg;
      display: flex; // separates primary menu and AIDSLine horizontally
      width: 100%;
    }

    .site-header__desktop-menu--primary {
      position: relative;
      flex: 1;
      padding: 10px 0;

      &:after {
        position: absolute;
        top: 0;
        left: -30px;
        background-color: $lilac-bg;
        content: '';
        display: block;
        height: 100%;
        transform: skew(-20deg);
        width: 100%;
      }

      // just primary menu
      .menu {
        position: relative;
        z-index: 1;
        justify-content: space-evenly;

        .menu__item {
          flex: 0 1 auto;
          line-height: 1.1;
        }

        .menu__link {
          font-size: 1.0625rem;

        }
      }
    }

    .site-header__aidsline {
      &:after {
        max-width: 100vw;
        width: 100vw;
      }
    }

    .site-header__hamburger-col {
      display: none;
    }

    .site-header__desktop-menu {
      display: block;
    }
  }
}