.site-header {
  background-color: $white;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .site-header__row {
    align-items: center;
    padding-bottom: 15px;
  }

  .site-header__aidsline-inner,
  .site-header__menus,
  .site-header__translate-inner {
    display: none;
  }

  .site-header__aidsline {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px 0;

    &:before,
    &:after {
      position: absolute;
      background-color: $lilac-bg-alt;
      content: '';
      display: block;
      height: 100%;
    }

    &:after {
      right: 50%;
      left: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 100vw;
      width: 100vw;
    }
  }

  .site-header__aidsline-label,
  .site-header__aidsline-link {
    position: relative;
    z-index: 1;
  }

  .site-header__aidsline-label {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.15;
    margin-right: 8px;
  }

  .site-header__aidsline-link {
    color: $purple-medium;
    font-size: 1.125rem;
    line-height: 1.1111;

    &:focus,
    &:hover {
      color: $purple;
      outline: 0;
    }
  }

  .site-header__translate-only {
    margin-bottom: 20px;
  }

  .site-header__logo-link {
    display: block;
    max-width: 170px;

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      img {
        outline: 2px solid $red;
      }
    }

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }

  .site-header__hamburger-plus {
    text-align: right;
  }

  #site-header__hamburger {
    background-color: $white;
    background-image: url('../../dist/img/menu_withbkgrnd.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100px;

    &:focus,
    &:hover {
      background-image: url('../../dist/img/menu_withbkgrnd_open.svg');
      outline: 0;
    }
  }

  .site-header__menu-mobile {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .site-header {
    .site-header__row {
      padding: 20px 0;
    }

    .site-header__aidsline-only,
    .site-header__translate-only {
      display: none;
    }

    .site-header__aidsline-inner,
    .site-header__translate-inner {
      display: block;
    }

    .site-header__logo-link {
      max-width: 100%;
    }

    .site-header__translate-inner {
      margin-bottom: 15px;
    }

    .site-header__aidsline-hamburger {
      display: flex;
      justify-content: flex-end;
    }

    .site-header__aidsline {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 0;
      padding: 10px 25px;

      &:after {
        right: 0;
        left: 50%;
        margin-left: 0;
        margin-right: 0;
        max-width: 50%;
        width: 50%;
      }

      &:before {
        top: 0;
        left: 0;
        transform: skew(-20deg);
        width: 100%;
      }
    }

    .site-header__aidsline-label {
      margin-right: 0;
    }

    .site-header__aidsline-link {
      line-height: 1.1111;
    }

    #site-header__hamburger {
      background-color: $lilac-bg-alt;
    }
  }
}

@include media-breakpoint-up(lg) {
  .site-header {
    .site-header__row {
      padding-bottom: 0;
    }

    .site-header__hamburger-plus {
      display: none;
    }

    .site-header__menus {
      display: block;
    }

    .site-header__logo {
      padding-right: 30px;
    }

    .site-header__aidsline {
      padding: 10px 25px 0 25px;

      &:after {
        top: 0;
        max-width: 100vw;
        width: 100vw;
      }
    }

    .site-header__aidsline-link {
      display: block;
      padding-bottom: 10px;
    }

    .site-header__menus {
      align-items: flex-end;
      display: flex; // separates menus vertically
      flex-direction: column;
      margin-left: 0;

      // both menus
      .menu {
        display: flex;

        .menu__link {
          color: $gray-text;
          font-weight: 600;

          &:focus {
            outline: 0;
          }

          &:not(.button):focus-visible {
            span {
              outline: 2px solid $red;
            }
          }

          &:hover,
          &.current-menu-item,
          &.current-page-ancestor {
            color: $purple;
          }

        }
      }
    }

    .site-header__menus-upper {
      align-items: center;
      display: flex; // separates social media and secondary menu horizontally
      justify-content: flex-end;
      margin-bottom: 15px;
      width: 100%;

      // just secondary menu
      .menu {
        align-items: center;

        .menu__item {
          &:after {
            color: $lilac-bg-alt;
            content: '/';
          }

          &:nth-last-child(-n+2) {
            &:after {
              content: '';
            }
          }
        }

        .menu__link {
          font-size: 0.85rem;
          line-height: 1.1;
          padding: 6px 7px;

          &.button {
            margin-left: 15px;
          }
        }
      }
    }

    .site-header__translate-inner {
      margin-right: 15px;
      margin-bottom: 0;
    }

    .site-header__menus-lower {
      background-color: $lilac-bg;
      display: flex; // separates primary menu and AIDSLine horizontally
      width: 100%;
    }

    .site-header__desktop-menu--primary {
      position: relative;
      flex: 1;
      padding-top: 10px;

      &:after {
        position: absolute;
        top: 0;
        left: -30px;
        background-color: $lilac-bg;
        content: '';
        display: block;
        height: 100%;
        transform: skew(-20deg);
        width: 100%;
      }

      // just primary menu
      .menu {
        position: relative;
        z-index: 1;
        justify-content: space-evenly;

        .menu__item {
          flex: 0 1 auto;
          line-height: 1.1;
        }

        .menu__link {
          display: block;
          font-size: 1.0625rem;
          padding-bottom: 10px;
        }

        &--dropdown {
          z-index: 9999;

          .menu__item {
            position: relative;
          }

          // "Living with HIV"
          .menu__item--has-children:hover,
          .menu__item--has-children.menu__item--has-focus {

            .menu--children {
              clip: auto;
              height: auto;
              width: 16rem;
            }
          }

          .menu--children {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $purple;
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            display: block;
            height: 1px;
            margin: 0;
            padding: 20px 25px;
            width: 1px;

            .menu__item {
              border-bottom: 1px solid $gray-divider;
              display: block;
              margin-bottom: 10px;
              padding-bottom: 10px;

              &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
              }

              // "Assistance"
              .menu__link {
                color: $white;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.125;
                padding: 0;

                &:hover {
                  opacity: 0.5;
                }
              }

              .menu--children {
                position: static;
                clip: auto;
                height: auto;
                margin-top: 10px;
                padding: 0 0 0 15px;
                width: auto;

                .menu__item {
                  border-bottom: 0;
                  padding-bottom: 0;
                }

                // "Transportation"
                .menu__link {
                  font-size: 0.875rem;
                  font-weight: 400;
                  line-height: 1.15;
                }
              }
            }
          }
        }
      }
    }
  }
}