.social-media {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    .social-media__item {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .social-media__link {
        background-repeat: no-repeat;
        display: block;
        height: 27px;
        width: 27px;

        &[href*="facebook"] {
            background-image: url(../../dist/img/social/social_fb.svg);

            &:hover {
                background-image: url(../../dist/img/social/social_fb_hover.svg);
            }
        }

        &[href*="linkedin"] {
            background-image: url(../../dist/img/social/social_linkedin.svg);

            &:hover {
                background-image: url(../../dist/img/social/social_linkedin_hover.svg);
            }
        }

        &[href*="twitter"] {
            background-image: url(../../dist/img/social/social_twitter.svg);

            &:hover {
                background-image: url(../../dist/img/social/social_twitter_hover.svg);
            }
        }
    }
}