.social-media {
    list-style: none;
    margin-bottom: 0;
    padding-right: 7px;
    padding-left: 0;

    .social-media__item {
        display: inline-block;
        margin-top: 5px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .social-media__link {
        background-repeat: no-repeat;
        display: block;
        height: 20px;
        width: 20px;

        &[href*="facebook"] {
            background-image: url(../../dist/img/social/social_fb.svg);

            &:focus,
            &:hover {
                background-image: url(../../dist/img/social/social_fb_hover.svg);
            }
        }

        &[href*="instagram"] {
            background-image: url(../../dist/img/social/social_instagram.svg);

            &:focus,
            &:hover {
                background-image: url(../../dist/img/social/social_instagram_hover.svg);
            }
        }

        &[href*="linkedin"] {
            background-image: url(../../dist/img/social/social_linkedin.svg);

            &:focus,
            &:hover {
                background-image: url(../../dist/img/social/social_linkedin_hover.svg);
            }
        }

        &[href*="twitter"] {
            background-image: url(../../dist/img/social/social_twitter.svg);

            &:focus,
            &:hover {
                background-image: url(../../dist/img/social/social_twitter_hover.svg);
            }
        }

        &:focus {
            outline: 0;
        }
    }
}