{% if options.aidsline_cta.link %}
    <div class="site-header__aidsline">
        <span class="site-header__aidsline-label">AIDSLine</span>

        <a class="site-header__aidsline-link" href="{{ options.aidsline_cta.link.url }}">{{ options.aidsline_cta.link.title }}</a>
    </div>
{% endif %}