{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.heading %}
		<h2 class="cta-group__heading">{{ module.heading }}</h2>
	{% endif %}

	{% if module.description %}
		<div class="cta-pair__description wysiwyg">{{ module.description }}</div>
	{% endif %}

	{% if module.cta_pair|length > 0 %}
		<div class="row">
			{% for cta in module.cta_pair %}
				<div class="col-md-6 cta-pair__col">
					<div class="cta-pair__cta">
						{% include 'blocks/cta.twig' with { 'sizes' : '(min-width: 768px) 48vw, 96vw', 'heading_level' : 'h3' } %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
