{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.heading %}
		<h2 class="team__heading">{{ module.heading }}</h2>
	{% endif %}

	{% if module.members|length > 0 %}

		{% for member in module.members %}

			<div class="team__member">
				{% include 'blocks/member.twig' %}
			</div>

		{% endfor %}

	{% endif %}

{% endblock %}
