{% extends 'blocks/module.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 offset-md-2">

			<figure>
				<blockquote class="testimonial__quote wysiwyg">
					{{ module.quote }}
				</blockquote>

				{% if module.source %}
					<figcaption class="testimonial__source">&ndash;{{ module.source }}</figcaption>
				{% endif %}
			</figure>

		</div>
	</div>

{% endblock %}
