{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.heading %}
		<h2 class="therapists-or-interns__heading">{{ module.heading }}</h2>
	{% endif %}

	{% if module.posts|length > 0 %}
		<div class="row">
			{% for post in module.posts %}
				<div class="col-md-4 therapists-or-interns__col">
					<div class="therapists-or-interns__card-wrap">
						{% include 'blocks/therapist-card.twig' %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
