{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.heading %}
		<h2 class="statistics__heading">{{ module.heading }}</h2>
	{% endif %}

	{% if module.statistics|length > 0 %}
		<div class="row">
			{% for statistic in module.statistics %}
				<div class="col-md-4 statistics__col">
					{% include 'blocks/statistic.twig' %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
