{% extends 'blocks/module.twig' %}

{% block content %}

	<div class="row">
		{% if module.heading or module.description %}
			<div class="col-lg-5">
				{% if module.heading %}
					<h2 class="cta-group__heading">{{ module.heading }}</h2>
				{% endif %}
				{% if module.description %}
					<div class="cta-pair__description wysiwyg">{{ module.description }}</div>
				{% endif %}
			</div>
		{% endif %}

		{% if module.cta_pair|length > 0 %}
			<div class="col-lg-7">
				<div class="row cta-pair__ctas-row">
					{% for cta in module.cta_pair %}
						<div class="col-md-6 col-lg-12 cta-pair__cta-col">
							{% include 'blocks/cta-pair-cta.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}
