{% extends 'blocks/module.twig' %}

{% block content %}

	{% if module.heading %}
		<h2 class="feed-event__heading">{{ module.heading }}</h2>
	{% endif %}

	{% if module.event_category.description %}
		<p class="feed-event__description">{{ module.event_category.description }}</p>
	{% endif %}

	{% if module.events|length > 0 %}
		<div class="row">
			{% for post in module.events %}
				<div class="col-md-4 feed-event__col">
					{% include 'blocks/excerpt-tribe_events.twig' with { 'show_footer' : true } %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
