<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="page-title__header">
					{% if breadcrumbs %}
						{% include 'blocks/breadcrumbs.twig' %}
					{% endif %}
					<h1 class="page-title__heading">{{ title }}</h1>
				</div>
			</div>

			{% if post.thumbnail.src %}
				<div class="col">
					<img alt="" class="page-title__image" src="{{ post.thumbnail.src }}">
				</div>
			{% endif %}
		</div>
	</div>
</div>
