<div class="page-title">
    <div class="container">
        {% if breadcrumbs %}
            {% include 'blocks/breadcrumbs.twig' %}
        {% endif %}

        <h1 class="page-title__heading">{{ title }}</h1>
    </div>
</div>