<div class="search-bar">
	<form action="{{ site.url }}" class="search-bar__form" method="get" role="search">
		<label class="sr-only" for="s">Search for:</label>
		<input class="search-bar__field" type="text" name="s" placeholder="Search Site"/>

		<button class="search-bar__submit" type="submit">
			<span class="sr-only">Search</span>
			<i class="fas fa-search" aria-hidden="true"></i>
		</button>
	</form>
</div>
