{% extends "base.twig" %}

{% block content %}
	<div class="text-heavy wysiwyg">
		{{ copy }}

		{% if link.url %}
			<p>
				<a class="button" href="{{ link.url }}" target="{{ link.target }}">{{ link.title }}</a>
			</p>
		{% endif %}
	</div>
{% endblock %}
