{% extends "base.twig" %}

{% block title %}
	{% include 'blocks/single-title.twig' %}
{% endblock %}

{% block content %}

	<div class="events-container">
		{{ tribe_markup }}
	</div>

{% endblock %}
