{% extends "base.twig" %}

{% block content %}

	<div class="news-landing">

		<div class="container">

			{% if posts|length > 0 %}
				<div class="news-landing__posts append-posts">
					{% for post in posts %}
						{% include 'blocks/excerpt.twig' with { 'show_header' : true, 'show_footer' : true } %}
					{% endfor %}
				</div>
			{% endif %}

			<div class="news-landing__pagination">
				{% include 'blocks/pagination.twig' with { 'pagination_style' : options.pagination_style } %}
			</div>

		</div>

	</div>

{% endblock %}
