{% extends "base.twig" %}

{% block content %}

	<div class="news-landing">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 col-lg-12 offset-lg-0">
					{% if posts|length > 0 %}
						<div class="row">
							{% for post in posts %}
								<div class="col-lg-4 news-landing__post-col">
									{% include 'blocks/card-post.twig' with { 'modifier' : 'lilac-bg', 'show_cat' : true } %}
								</div>
							{% endfor %}
						</div>
					{% endif %}

					<div class="news-landing__pagination">
						{% include 'blocks/pagination.twig' with { 'pagination_style' : options.pagination_style } %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block below %}
	{% for module in below_modules %}
		{% set module_name = module.acf_fc_layout|replace({'_': '-'}) %}
		{% set module_style = module.style|replace({'_': '-'}) %}
		{% include ['blocks/module-' ~ module_name ~ '.twig', 'blocks/module.twig'] with { 'modifier' : 'below' } %}
	{% endfor %}
{% endblock %}
