{% extends "base.twig" %}

{% block title %}
	{% include 'blocks/page-title.twig' %}
{% endblock %}

{% block content %}
	<form class="password-form" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">

		<label for="pwbox-{{ post.ID }}">Password:</label>
		<input class="password-box" name="post_password" id="pwbox-{{ post.ID }}" type="password" placeholder="Password" size="20" maxlength="20"/>

		<button class="button password-btn" style="margin-top: 15px;">
			<span>Submit</span>
		</button>

	</form>
{% endblock %}
