{% set logo = Image(options.logo) %}

<header class="site-header {{ options.sticky_header ? 'site-header--sticky' }}">
	{% if options.announcement.copy or options.announcement.link.url %}
		{% include 'blocks/announcement.twig' %}
	{% endif %}

	<div class="container">
		<div class="row no-gutters site-header__row">
			<div class="col-12 site-header__aidsline-only">
				{% include 'blocks/aidsline.twig' %}
			</div>

			<div class="col-12 site-header__translate-only">
				{% include 'blocks/gtranslate.twig' %}
			</div>

			<div class="col-7 col-md-5 col-lg-3 site-header__logo">
				<a class="site-header__logo-link" href="{{ site.url }}">
					<img alt="{{ site.title }} homepage" class="site-header__logo" src="{{ logo.src }}">
				</a>
			</div>

			<div class="col-5 col-md-7 site-header__hamburger-plus">
				<div class="site-header__translate-aidsline-hamburger">
					<div class="site-header__translate-inner">
						{% include 'blocks/gtranslate.twig' %}
					</div>

					<div class="site-header__aidsline-hamburger">
						<div class="site-header__aidsline-inner">
							{% include 'blocks/aidsline.twig' %}
						</div>
					
						<button id="site-header__hamburger" aria-label="Toggle Mobile Menu">
							<span class="sr-only">Toggle Mobile Menu</span>
						</button>

						<div class="site-header__menu-mobile">
							{% include 'blocks/nav.twig' with { 'menu' : menu_mobile, 'id' : 'site-header__nav-mobile', 'items' : menu_mobile.get_items, 'show_children' : true } %}
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-9 site-header__menus">
				<div class="site-header__menus-upper">
					<div class="site-header__translate-inner">
						{% include 'blocks/gtranslate.twig' %}
					</div>

					<div class="site-header__social-media">
						{% include 'blocks/social-media.twig' %}
					</div>
				
					<div class="site-header__desktop-menu site-header__desktop-menu--secondary">
						{% include 'blocks/nav.twig' with { 'menu' : menu_secondary, 'items' : menu_secondary.get_items } %}
					</div>
				</div>

				<div class="site-header__menus-lower">	
					<div class="site-header__desktop-menu site-header__desktop-menu--primary">
						{% if options.desktop_menu_style == 'dropdown' %}
							{% include 'blocks/nav.twig' with { 'menu' : menu_primary, 'modifier' : 'dropdown', 'items' : menu_primary.get_items, 'show_children' : true } %}
						{% else %}
							{% include 'blocks/nav.twig' with { 'menu' : menu_primary, 'items' : menu_primary.get_items, 'show_children' : false } %}
						{% endif %}
					</div>

					<div class="site-header__aidsline-inner">
						{% include 'blocks/aidsline.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

{% if sub_nav %}
	{% include 'blocks/sub-nav.twig' %}
{% endif %}
