{% set logo = Image(options.logo) %}

<header class="site-header {{ options.sticky_header ? 'site-header--sticky' }}">

	<div class="container">
		<div class="row no-gutters site-header__row">

			<div class="col-12 col-md-12 col-lg-12 site-header__logo">
				<a class="site-header__logo-link" href="{{ site.url }}">
					<img alt="{{ site.title }} homepage" class="site-header__logo" src="{{ logo.src }}">
				</a>
			</div>

		</div>
	</div>
</header>

{% if sub_nav %}
	{% include 'blocks/sub-nav.twig' %}
{% endif %}
