.directory-landing {
    background-color: $lilac-bg;
    padding-top: 20px;
    padding-bottom: 30px;

    &__filters {
        margin-bottom: 25px;
    }

    &__post {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__top {
        margin-top: 30px;
        text-align: right;

        a {
            background-image: url('../../dist/img/arrow_up.svg');
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 15px;
            font-size: 1.125rem;
            line-height: 1.1111111111;
            padding-right: 22.5px;
        }
    }

    &__pagination {
        margin-top: 30px;
    }
}

@include media-breakpoint-up(md) {
    .directory-landing {
        padding-top: 40px;
        padding-bottom: 60px;

        &__filters {
            margin-bottom: 40px;
        }

        &__post {
            margin-bottom: 40px;
        }

        &__pagination {
            margin-top: 50px;
        }
    }
}