.news-landing {
    padding-top: 20px;
    padding-bottom: 30px;

    &__post-col {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__pagination {
        margin-top: 30px;
    }
}

@include media-breakpoint-up(md) {
    .news-landing {
        padding-top: 50px;
        padding-bottom: 60px;

        &__post-col {
            margin-bottom: 30px;
        }

        &__pagination {
            margin-top: 50px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .news-landing {
        padding-top: 60px;

        &__post-col {
            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }
    }
}