$black: #000;
$gray: #D8D8D8;
$gray-border: #dfeaeb;
$gray-text: #131313;
$gray-divider: #CAC7DB;
$white: #fff;

$dark-purple-bg: #262241;
$dark-purple-bg-alt: #352F59;
$lilac-bg: #ECEBF3;
$lilac-bg-alt: #DFDEEC;
$purple: #7E5EBF;
$purple-medium: #382F82;
$red: #E54360;