/**
 * EVENTS CALENDAR PRO CSS OVERRIDES
 *
 * "Tribe Events Styles" must be selected under Events --> Settings --> Display
 * Accent color must be set under Appearance --> Customize --> The Events Calendar
 *
 */

// Archive
.post-type-archive-tribe_events {
	font-family: $text !important;

	.tribe-events {
		padding-top: 30px;

		// Font
		* {
			font-family: 'Ubuntu', sans-serif !important;
		}

		// Filters
		#tribe-events-events-bar-keyword:focus {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18.711l-6.044-6.044a7.782 7.782 0 0 0 1.688-4.845c0-2.089-.822-4.044-2.288-5.533C11.866.822 9.91 0 7.822 0S3.778.822 2.29 2.289A7.801 7.801 0 0 0 0 7.822c0 2.09.822 4.045 2.289 5.534a7.801 7.801 0 0 0 5.533 2.288c1.778 0 3.467-.6 4.845-1.688L18.71 20 20 18.711zM3.578 12.067c-2.334-2.334-2.334-6.156 0-8.49a5.968 5.968 0 0 1 4.244-1.755c1.6 0 3.111.622 4.245 1.756 2.333 2.333 2.333 6.155 0 8.489a5.968 5.968 0 0 1-4.245 1.755c-1.6 0-3.11-.622-4.244-1.755z' fill='%23ab2c2c'/%3E%3C/svg%3E") !important;
		}

		#tribe-events-events-bar-location:focus {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.682 1.548a5.166 5.166 0 0 0-7.375 0C-3.073 5.984 4.959 15.36 4.994 15.36c.051-.001 8.092-9.35 3.688-13.812zM4.994 2.833c1.27 0 2.301 1.043 2.301 2.331 0 1.287-1.03 2.33-2.301 2.33-1.272 0-2.3-1.043-2.3-2.33 0-1.288 1.028-2.331 2.3-2.331z' fill='%23ab2c2c' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
		}

		.tribe-events-c-search__button {
			background-color: #ab2c2c;

			&:hover {
				background-color: #f5e645 !important;
				color: #1f1d1d !important;
			}
		}

		// All views: featured events
		.tribe-common-svgicon--featured {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v20l-7.902-5.122L0 20z' fill='%23ab2c2c'/%3E%3C/svg%3E");
		}

		// List view: featured events
		.tribe-events-calendar-list__event-featured-image {
			border-radius: 5px;
		}

		// List view: regular events
		.tribe-events-calendar-list__event-datetime-wrapper {
			margin: 0;
		}

		.tribe-events-calendar-list__event-datetime {
			display: inline-block;
			font-size: 1rem;
			line-height: 1.4;
			margin: 0 0 5px;
		}

		.tribe-events-calendar-list__event-title {
			line-height: 1.2;
		}

		.tribe-common-svgicon--recurring:hover {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.333 3.826c0 .065 0 .13-.02.174 0 .022-.02.065-.02.087a.9.9 0 0 1-.197.37L10.45 7.37a.797.797 0 0 1-.592.26.797.797 0 0 1-.593-.26c-.316-.348-.316-.935 0-1.305l1.225-1.348H6.3c-2.547 0-4.64 2.283-4.64 5.11 0 1.369.474 2.651 1.363 3.608.316.348.316.935 0 1.304A.797.797 0 0 1 2.43 15a.797.797 0 0 1-.593-.26C.652 13.434 0 11.695 0 9.847c0-3.826 2.825-6.935 6.301-6.935h4.208L9.284 1.565c-.316-.348-.316-.935 0-1.304.316-.348.85-.348 1.185 0l2.647 2.913a.952.952 0 0 1 .198.37c0 .021.02.065.02.086v.196zM20 10.152c0 3.826-2.825 6.935-6.301 6.935H9.49l1.225 1.348c.336.348.336.935 0 1.304a.797.797 0 0 1-.593.261.83.83 0 0 1-.592-.26l-2.627-2.936a.948.948 0 0 1-.198-.37c0-.021-.02-.064-.02-.086-.02-.065-.02-.109-.02-.174 0-.065 0-.13.02-.174 0-.022.02-.065.02-.087a.9.9 0 0 1 .198-.37L9.55 12.63c.316-.347.849-.347 1.185 0 .336.348.336.935 0 1.305L9.51 15.283h4.208c2.548 0 4.641-2.283 4.641-5.11 0-1.369-.474-2.651-1.362-3.608a.97.97 0 0 1 0-1.304c.316-.348.849-.348 1.185 0C19.348 6.543 20 8.283 20 10.152z' fill='%23ab2c2c'/%3E%3C/svg%3E");
		}

		.tribe-events-calendar-list__event-title {
			font-weight: 700;

			a {
				border: 0 !important;
				font-weight: inherit;

				&:hover {
					color: #3e5195;
				}
			}
		}

		.tribe-events-virtual-virtual-event__icon {
			display: none;
		}

		.tribe-events-calendar-list__event-description {
			font-size: 1rem;
			margin-top: 12px;
		}

		.tribe-events-c-small-cta__price {
			font-size: 1rem;
			font-weight: 700;
		}

		// Calendar view: day
		.tribe-events-calendar-month__day:hover:after {
			background-color: #ab2c2c;
		}

		// Calendar view: featured events
		.tribe-events-calendar-month__calendar-event-featured-image {
			border-radius: 5px;
		}

		// Calendar view: regular events
		.tribe-events-calendar-month__calendar-event-title {
			font-weight: 500;

			a {
				border: 0 !important;
				font-weight: inherit;

				&:hover {
					color: #3e5195;
				}
			}
		}

		// Calendar view: tooltip
		.tribe-events-calendar-month__calendar-event-tooltip-title {
			font-weight: 700;
			line-height: 1.2;

			a {
				border: 0 !important;
				font-weight: inherit;

				&:hover {
					color: #3e5195;
				}
			}
		}

		// Pagination
		#tribe-events-footer {
			border-top: 1px solid #e5e5e5;
			margin-bottom: 1em;
			padding-top: 2em;
		}

		.tribe-events-nav-pagination {
			a {
				color: $red;

				&:hover {
					color: $blue;
				}
			}
		}

		.tribe-events-sub-nav {
			display: flex;
			justify-content: space-between;
		}

		// Export button
		.tribe-events-c-ical__link:before {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' stroke='%23ab2c2c' fill='none' fill-rule='evenodd' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E");
		}

		.tribe-events-c-ical__link:hover:before {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' stroke='%23fff' fill='none' fill-rule='evenodd' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E");
		}
	}
}

// Single
.single-tribe_events {
	#tribe-events-content {
		@extend .content-col;
	}

	// "All Events" link
	.tribe-events-back {
		font-family: $text;
		margin: 0 0 20px 0;

		a {
			border: 0;

			&:hover {
				color: $red;
			}
		}
	}

	// Event title
	.tribe-events-single-event-title {
		@extend .default-title;

		font-family: $text;
	}

	// Date and time, recurring
	.tribe-events-schedule {
		font-family: $text;
		margin: 0 0 20px 0;

		.recurringinfo {
			margin-left: 0.25em;

			.event-is-recurring {
				font-style: italic;

				.tribe-events-divider {
					display: none;
				}
			}
		}
	}

	// Featured image
	.tribe-events-event-image {
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}

	// Event content
	.tribe-events-single-event-description {
		@extend .text-heavy;
		@extend .wysiwyg;

		font-family: $text;
		margin-bottom: 20px;
	}

	// Export links
	.tribe-events-cal-links {
		font-family: $text;
		margin-bottom: 20px;

		.tribe-events-button {
			color: $purple;
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.2;
			margin-right: 20px;
			padding: 0;

			&:hover {
				color: $red;
			}
		}
	}

	// Meta sections
	.tribe-events-single-section {
		font-family: $text;
		margin: 0;

		.tribe-events-single-section-title {
			font-size: 1.3125rem;
			letter-spacing: 0;
			text-transform: none;
		}

		.tribe-events-gmap {
			display: block;
		}

		dl {
			font-size: 1rem;
			margin: 0;
		}

		dt {
			line-height: 1.2;
			margin: 0;
		}

		dd {
			line-height: 1.2;
			margin: 0 0 15px;
		}

		a:hover {
			color: $red;
			opacity: 1;
		}
	}

	#tribe-events-footer {
		padding: 20px 0 0;
	}

	// Mobile next event/previous event buttons
	.tribe-events-sub-nav {
		font-family: $text;
		margin: 0;
		padding: 0;

		a {
			background-color: transparent;
			font-size: 1rem;
			line-height: 1.2;
		}
	}
}

// Custom breakpoint to fix background color of Modern Tribe's next event/previous event buttons
@media only screen and (min-width: 769px) {
	.single-tribe_events {
		.tribe-events-sub-nav {
			a {
				background-color: transparent;
			}
		}
	}
}