.gform_wrapper {
  form {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gfield {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .gfield_required {
    color: red;
    padding-left: 0.25rem;
  }

  .gfield_label {
    @extend label;
  }

  .ginput_complex {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ginput_complex label,
  .gfield_description {
    color: $gray-text;
    font-size: 1rem;
    line-height: 1.125;
    margin-top: 6.5px;
    margin-bottom: 0;
  }

  .gform_footer {
    margin-top: 20px;
    text-align: right;
  }

  .validation_error,
  .validation_message {
    background-color: $gray;
    font-weight: 700;
    padding: 10px;
  }

  .validation_error {
    margin-bottom: 13px;
  }

  .validation_message {
    margin-top: 6.5px;
  }
}

// Hidden labels
.hidden_label .gfield_label {
  @extend .screen-reader-text;
}

// Anti-spam honeypot
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
  display: none !important;
  position: absolute !important;
  left: -9000px;
}

@include media-breakpoint-up(lg) {
  .gform_wrapper {
    .ginput_complex {
      flex-direction: row;
      margin: 0 -7.5px;

      span {
        flex: 1;
        margin: 0;
        padding: 0 7.5px;
      }
    }
  }
}