#wpsl-wrap {
    #wpsl-search-wrap {
        div label {
            line-height: 1.3;
        }

        #wpsl-search-btn {
            @extend .button;
        }
    }

    #wpsl-result-list {
        li p {
            line-height: 1.35;
            margin: 0 0 5px 0;

            span {
                font-size: 0.875em
            }
        }
    }
}