// Colors
$black: #000;
$blue: #0084DC;
$dark-blue: #052949;
$gray: #D8D8D8;
$gray-border: #dfeaeb;
$light-blue: #9ac0c4;
$rose: #bf8472;
$teal: #367e85;
$white: #fff;
$mid-blue: #487195;
$gray-alt: #bcbcc3;
$red: #B70404;
$purple: #1c005a;

// Bootstrap variables
$link-color: $blue;
$link-hover-color: $red;
$link-hover-decoration: none;
$enable-rounded: false;

// Required Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/forms";

// Fonts
$text: "Nunito Sans",
sans-serif;
$display: "Montserrat",
sans-serif;

*:focus {
  outline: 1px dotted $black;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}

a {
  font-weight: bold;
}

a,
a img {
  transition: all 200ms ease;
  transition-property: background-color, background-image, border-color, color,
    opacity;
}

body {
  color: $black;
  font-family: $text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

figure {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block;
}

.skip-link:focus {
  top: 0;
  left: 0;
  background-color: $white;
  padding: 10px;
  z-index: 5000;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a {
  color: inherit;
  font-weight: inherit;

  &:hover {
    color: $link-hover-color;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.125rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

img {
  height: auto;
  max-width: 100%;
}

.button {
  background-color: $link-color;
  border: none;
  color: $white !important;
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px !important;

  &:hover {
    background-color: $link-hover-color;
  }
}

.content-col {
  padding-top: 20px;
  padding-bottom: 40px;
}

.sidebar-col {
  padding-bottom: 40px;
}

@include media-breakpoint-up(md) {
  .content-col {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .sidebar-col {
    padding-bottom: 60px;
  }
}

@include media-breakpoint-up(lg) {
  .sidebar-col {
    padding-top: 40px;
  }
}

@include media-breakpoint-up(lg) {
  .page-sidebar {
    padding-top: 40px;
  }
}

.sidebar {
  .sidebar__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    .sidebar__col {
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .sidebar {
    .sidebar__col {
      margin-bottom: 20px !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.module {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

@include media-breakpoint-up(md) {
  .module {
    padding: 40px 0;
  }
}

.module--sidebar {
  padding: 0;
}

.bg {
  position: relative;
  z-index: 0;

  &:after {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    z-index: -1;
    content: "";
    display: block;
    height: 100%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
  }
}

.fw {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.link-has-image {
  display: inline-block;

  &:focus,
  &:hover {
    outline: 0;

    img {
      opacity: 0.7;
    }
  }
}

.links-blend-in {
  a {
    color: inherit;
    font-weight: inherit;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.text-heavy {
  a {
    border-bottom: 2px solid $blue;

    &:hover {
      border-bottom-color: $link-hover-color;
    }
  }

  blockquote {
    background-color: $gray;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.5;
    padding: 20px;

    > :last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  h3 {
    margin-bottom: 8px;
  }

  h4 {
    margin-bottom: 8px;
  }

  h5 {
    margin-bottom: 8px;
  }

  h6 {
    margin-bottom: 8px;
  }

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol,
  p,
  ul {
    margin-bottom: 20px;
  }

  ol+h2,
  p+h2,
  ul+h2,
  ol+h3,
  p+h3,
  ul+h3 {
    padding-top: 5px;
  }

  p+ol,
  p+ul {
    margin-top: -10px;
  }
}

.wysiwyg {
  :last-child {
    margin-bottom: 0;
  }
}

@import "er.scss";
@import "gf.scss";
@import "wp.scss";

@import "blocks/announcement.scss";
@import "blocks/back.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/cta.scss";
@import "blocks/excerpt.scss";
@import "blocks/member.scss";
@import "blocks/menu.scss";
@import "blocks/module-cta-group.scss";
@import "blocks/module-cta-pair.scss";
@import "blocks/module-cta-single.scss";
@import "blocks/module-featured-event.scss";
@import "blocks/module-hero.scss";
@import "blocks/module-image.scss";
@import "blocks/module-feed-event.scss";
@import "blocks/module-feed-post.scss";
@import "blocks/module-statistics.scss";
@import "blocks/module-testimonial.scss";
@import "blocks/module-team.scss";
@import "blocks/module-text.scss";
@import "blocks/module-video.scss";
@import "blocks/page-title.scss";
@import "blocks/pagination.scss";
@import "blocks/post.scss";
@import "blocks/search-bar.scss";
@import "blocks/sidebar/sidebar-module-cta-single";
@import "blocks/sidebar/sidebar-nav";
@import "blocks/site-header.scss";
@import "blocks/site-footer.scss";
@import "blocks/social-media.scss";
@import "blocks/statistic.scss";
@import "blocks/sub-nav.scss";

@import "archive/news-landing";
@import "archive/search-landing";

@import "single/news-post";