@import "colors";

// Bootstrap variables
$link-hover-decoration: none;
$enable-rounded: false;

// Required Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/forms";

// Splide
@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";

// Fonts
$text: "Source Sans Pro",
sans-serif;

*:focus {
  outline: 1px dotted $black;
}

html {
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: $purple;
  font-weight: 700;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid $red;
  }

  &:hover {
    color: $dark-purple-bg-alt;
  }
}

a,
a img,
button {
  transition: all 200ms ease;
  transition-property: background-color, background-image, border-color, color,
    opacity;
}

body {
  color: $gray-text;
  font-family: $text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

figure {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block;
}

.skip-link:focus {
  top: 0;
  left: 0;
  background-color: $white;
  padding: 10px;
  z-index: 5000;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a {
  color: inherit;
  font-weight: inherit;

  &:hover {
    color: $red;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $purple-medium;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2,
.h2 {
  font-size: 1.6875rem;
  line-height: 1.15;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.125rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

@include media-breakpoint-up(md) {

  h2,
  .h2 {
    font-size: 2.25rem;
    line-height: 1.1111;
  }
}

@include media-breakpoint-up(lg) {

  h2,
  .h2 {
    font-size: 2.5rem;
    line-height: 1.125;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.button {
  position: relative;
  z-index: 1;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $white !important;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125;
  padding: 13px 24px !important;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $purple;
    content: '';
    display: block;
    height: 100%;
    transform: skew(-20deg);
    width: 100%;
  }

  &:focus {
    outline: 0
  }

  &:focus-visible {
    &:after {
      outline: 3px solid $red;
    }
  }

  &:hover {
    &:after {
      background-color: $purple-medium;
    }
  }

  &--header {
    padding: 9px 24px !important;

    &:after {
      background-color: $purple-medium;
    }

    &:hover {
      &:after {
        background-color: $purple;
      }
    }

  }

  &--red-hover {
    &:hover {
      &:after {
        background-color: $red;
      }
    }
  }

  &--white {
    color: $purple !important;

    &:after {
      background-color: $white;
    }

    &:focus-visible {
      &:after {
        outline: 3px solid $dark-purple-bg;
      }
    }

    &:hover {
      color: $white !important;

      &:after {
        background-color: $dark-purple-bg-alt;
      }
    }

  }
}

input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"],
input[type="url"],
select,
textarea {
  appearance: none;
  background-color: $white;
  border: 1px solid $purple-medium;
  color: $gray-text;
  font-size: 1rem;
  height: unset;
  line-height: 1.125;
  padding: 12px;
  width: 100%;

  &:focus {
    border-color: $purple;
    border-width: 2px;
    outline: 0;
  }
}

select {
  background-image: url("../../dist/img/filter_arrows.svg"),
    linear-gradient(to bottom, #fff 0%, #fff 100%); // Arrow and gradient for IE9 and older
  background-position: right 12px top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 10px auto, 100%;
  padding-right: 32px;

  &::-ms-expand {
    display: none;
  }
}

.content-col {
  padding-top: 20px;
  padding-bottom: 30px;
}

.sidebar-col {
  padding-bottom: 30px;
}

@include media-breakpoint-up(md) {
  .content-col {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .sidebar-col {
    padding-bottom: 60px;
  }
}

@include media-breakpoint-up(lg) {
  .content-col {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .sidebar-col {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}




@include media-breakpoint-up(lg) {
  .page-sidebar {
    padding-top: 40px;
  }
}

.sidebar {
  &__image {
    display: none;
  }

  &__col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    .sidebar__col {
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .sidebar {
    &__image {
      display: block;
    }

    .sidebar__col {
      margin-bottom: 20px !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.module {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

@include media-breakpoint-up(md) {
  .module {
    padding: 40px 0;
  }
}

.module--sidebar {
  padding: 0;
}

.bg {
  position: relative;
  z-index: 0;

  &:after {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    z-index: -1;
    content: "";
    display: block;
    height: 100%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
  }
}

.default-title {
  border-bottom: 3px solid $gray-divider;
  color: $dark-purple-bg !important;
  font-size: 1.6875rem;
  line-height: 1.15;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

@include media-breakpoint-up(md) {
  .default-title {
    font-size: 2.5rem;
    line-height: 1.125;
    margin-bottom: 25px;
  }
}

@include media-breakpoint-up(lg) {
  .default-title {
    font-size: 3.25rem;
    line-height: 1.075;
  }
}

.fw {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.link-has-image {

  &:focus,
  &:hover {
    outline: 0;

    img {
      opacity: 0.5;
    }
  }
}

.links-blend-in {
  a {
    color: inherit;
    font-weight: inherit;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.text-heavy {
  a:not(.button) {
    border-bottom: 2px solid $purple;
    color: $purple;

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      outline: 2px solid $red;
    }

    &:hover {
      color: $red;
    }
  }

  blockquote {
    background-color: $lilac-bg-alt;
    border-left: 3px solid $purple;
    font-weight: 600;
    padding: 15px;

    > :last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 1.6875rem;
    line-height: 1.15;
    margin-bottom: 10px;
  }

  h3 {
    color: $dark-purple-bg;
    font-size: 1.5rem;
    line-height: 1.125;
    margin-bottom: 10px;
  }

  h4 {
    color: $dark-purple-bg;
    font-size: 1.125rem;
    line-height: 1.2778;
    margin-bottom: 6px;
  }

  li {
    margin-bottom: 7.5px;

    &::marker {
      color: $purple;
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote,
  .er-container,
  ol,
  p,
  ul {
    margin-bottom: 15px;
  }

  ol,
  ul {
    margin-left: 2rem;
    padding-left: 0;
  }

  blockquote+h2,
  .er-container+h2,
  ol+h2,
  p+h2,
  ul+h2 {
    padding-top: 15px;
  }

  blockquote+h3,
  .er-container+h3,
  ol+h3,
  p+h3,
  ul+h3 {
    padding-top: 15px;
  }

  p+ol,
  p+ul {
    margin-top: -7.5px;
  }
}

@include media-breakpoint-up(md) {
  .text-heavy {
    h2 {
      font-size: 2.25rem;
      line-height: 1.1111;
    }

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1.1667;
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .text-heavy {
    h2 {
      font-size: 2.5rem;
      line-height: 1.125;
    }
  }
}

.wysiwyg {
  :last-child {
    margin-bottom: 0;
  }
}

@import "ecp";
@import "er";
@import "gf";
@import "wp";
@import "wpsl";

@import "blocks/announcement";
@import "blocks/back";
@import "blocks/breadcrumbs";
@import "blocks/cta-group-cta";
@import "blocks/cta-pair-cta";
@import "blocks/cta";
@import "blocks/card-event";
@import "blocks/card-post";
@import "blocks/excerpt";
@import "blocks/member";
@import "blocks/menu";
@import "blocks/module-anchor-links";
@import "blocks/module-cta-group";
@import "blocks/module-cta-pair";
@import "blocks/module-cta-single";
@import "blocks/module-counselors";
@import "blocks/module-embed-code";
@import "blocks/module-featured-event";
@import "blocks/module-form";
@import "blocks/module-hero";
@import "blocks/module-image";
@import "blocks/module-feed-event";
@import "blocks/module-feed-post";
@import "blocks/module-link-list";
@import "blocks/module-slider";
@import "blocks/module-statistics";
@import "blocks/module-team";
@import "blocks/module-text";
@import "blocks/module-therapists-or-interns";
@import "blocks/module-video";
@import "blocks/page-title";
@import "blocks/pagination";
@import "blocks/post";
@import "blocks/search-bar";
@import "blocks/sidebar/sidebar-module-cta-single";
@import "blocks/sidebar/sidebar-nav";
@import "blocks/single-title";
@import "blocks/site-header";
@import "blocks/site-footer";
@import "blocks/social-media";
@import "blocks/statistic";
@import "blocks/sub-nav";
@import "blocks/therapist-card";

@import "archive/news-landing";
@import "archive/search-landing";

@import "single/counselor-post";
@import "single/news-post";
@import "single/therapist-post";