.news-post {
    .news-post__image {
        margin-bottom: 20px;
        width: 100%;
    }

    .news-post__date {
        display: block;
        font-style: italic;
        margin-top: 20px;
    }
}