.provider-post {
    padding-top: 20px;
    padding-bottom: 30px;

    &__image {
        background-color: $white;
        border: 2px solid $gray-border;
        margin-bottom: 20px;
    }

    &__header {
        border-bottom: 3px solid $gray-divider;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    &__name {
        color: $dark-purple-bg-alt;
        font-size: 1.6875rem;
        line-height: 1.15;
        margin-bottom: 0;
    }

    &__title {
        color: $purple-medium;
        display: block;
        font-size: 1.3125rem;
        font-weight: 600;
        line-height: 1.15;
    }

    &__name+&__title {
        margin-top: 10px;
    }

    &__details {
        font-size: 1rem;
        line-height: 1.375;
        margin-bottom: 0;
    }

    &__detail {
        margin-bottom: 20px;

        &--sub {
            margin-bottom: 3px;
        }
    }

    &__term {
        color: $dark-purple-bg;
        font-size: 1.1875rem;
        line-height: 1.1052631579;
        margin-bottom: 4px;
        text-transform: uppercase;

        &--sub {
            color: $gray-text;
            display: inline;
            font-size: 1rem;
            line-height: 1.375;
            margin-bottom: 0;
            text-transform: none;
        }
    }

    &__definition {
        margin-bottom: 0;

        p {
            margin-top: 4px;
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;
        }

        li {
            padding-left: 1em;

            &::before {
                color: $purple;
                content: "\2022";
                display: inline-block;
                font-weight: 700;
                margin-left: -1em;
                width: 1em;
            }
        }

        &--sub {
            display: inline;
        }
    }

    &__intake {
        &--desktop {
            display: none;
        }

        &--phone {
            margin-top: 20px;
        }
    }

    &__back {
        margin-top: 30px;

        a {
            background-image: url('../../dist/img/arrow_back.svg');
            background-position: center left;
            background-repeat: no-repeat;
            background-size: 15px;
            font-size: 1.125rem;
            line-height: 1.1111111111;
            padding-left: 22.5px;
        }
    }
}

@include media-breakpoint-up(md) {
    .provider-post {
        padding-top: 30px;
        padding-bottom: 60px;

        &__header {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        &__name {
            font-size: 2.5rem;
            line-height: 1.125;
        }

        &__title {
            font-size: 1.5rem;
            line-height: 1.1666666667;
        }

        &__details {
            columns: 2;
            column-gap: 30px;
        }

        &__detail {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            margin-bottom: 30px;

            &--summary,
            &--statement {
                column-span: all;
                margin-top: 10px;
            }
        }

        &__intake {
            &--phone {
                margin-top: 30px;
                width: calc(50% - 15px);
            }
        }

        &__back {
            margin-top: 30px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .provider-post {
        &__image {
            margin-bottom: 30px;
        }

        &__intake {
            &--desktop {
                display: block;
            }

            &--phone {
                display: none;
            }
        }
    }
}